:root {
    --main-color: #170963;
}

.border-white {
    border-color: white;
}

.title {
    padding-bottom: 3%;
    padding-top: 3%;
}


.image-upload > input {
    display: none;
}

.upload-photo-button {
    background-color: var(--main-color);
    width: auto;
    height: auto;
    border-radius: 5%;
    border-color: black;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

nav {
    background-color: var(--main-color);
}


